@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
  
  /* overflow-x: hidden; */
}
/* to hide the scrollbar in every browser 
1-Hide scrollbar for Chrome, Safari and Opera
2-Hide scrollbar for IE, Edge and Firefox*/
 
/* *::-webkit-scrollbar {
  display: none;
}   */

  *{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html{
  font-size: 62.5%;
}
:root{
  --maroon:#85144b;
  --green:#3D9970;
  --main:#130f40;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in; 
}

.appear {
  opacity: 1; 
}

*::selection{
  background-color: var(--maroon);
  color: #fff;
}
