@media screen and (max-width: 1064px) and (min-width: 641px){
.heading_about{
    font-size: 4.5rem;
}
.my_img{
  /* 
  height: 60%; */
  width: 50%;
  transform: translateX(10rem);
}
.bar_percent{
    font-size: 1.2rem;
}
.my_bio{
    /* padding:0 0%; */
    left:25%;
}
.my_bio h1{
    margin-bottom: 1rem;
    font-size: 2.2rem;
}
.my_bio p{
    font-size: 1.3rem;
}
.my_bio a{
    font-size: 1.5rem;
}

.qual{
    bottom: 3%;
    left: 35%;
}
.qual h1{
font-size: 1.9rem;
}
.qual ul li{
    font-size: 1.2rem;
}
}

@media screen and (max-width:640px){
    .heading_about{
        margin-top: 1.5rem;
        font-size: 4rem;         
        }
    .heading_about::after{
        width: 10%;
        left: 46%;
    }
    .my_img{
        display: none;
    }
    .bio_container{
         width: 100%;
        height: 50%;       
        margin-top: 2rem;       
    }
    .my_bio{
         top: 0%;
    /* display: block; */
        /* width: 90%;
        right: 4%; */
        padding-bottom: 1rem;
        border-bottom:solid 1px gray;
    }
    .fa-question{
        position: absolute;
            right: 0;
        }
    .my_bio a{
            margin-top: 1rem;
        }
    .skills{
    width: 85%;
        height: 70%;
        transform: translate(15%,-12%);
            
    }
    .bar_percent{
            font-size: 1.2rem;
            }
    .qual{
    left: 25%;
        bottom: -8%;
    
        }
    .qual h1{
    /* font-size: 2rem; */
    transform: translateX(-5rem);
        text-transform: uppercase;
    text-decoration: underline;
    }
    .qual ul li{
    /* font-size: 1rem; */
    transform: translateX(-4rem);
}
}